In [ ]:
import pandas as pd
from library.genetic_algorithms.grid_search import grid_search
from library.genetic_algorithms.grid_search_parallelized import grid_search_par
from library.genetic_algorithms.mutation import swap_mutation, inversion_mutation, heuristic_mutation
from library.genetic_algorithms.crossover import cycle_crossover, one_point_crossover, uniform_crossover, geometric_crossover, multi_parent_crossover
from library.genetic_algorithms.selection import fitness_proportionate_selection, ranking_selection, tournament_selection

In [2]:
seating_data= pd.read_csv("seating_data.csv", index_col=0)

In [3]:
relationships_mtx=seating_data.to_numpy()

In [4]:
relationships_mtx

array([[   0, 5000,    0, ...,    0,    0,    0],
       [5000,    0,  700, ...,    0,    0,    0],
       [   0,  700,    0, ...,    0,    0,    0],
       ...,
       [   0,    0,    0, ...,    0,  700,  700],
       [   0,    0,    0, ...,  700,    0,  900],
       [   0,    0,    0, ...,  700,  900,    0]])

In [ ]:
''''
results = grid_search(
    relations_mtx=relationships_mtx,
    mutation_functions=[swap_mutation],
    crossover_functions=[one_point_crossover],
    selection_functions=[tournament_selection, fitness_proportionate_selection, ranking_selection],
    elitism=[0, 1],
)
'''

In [5]:
# Testing grid search code 

results = grid_search_par(
    relations_mtx=relationships_mtx,
    mutation_functions=[swap_mutation],
    crossover_functions=[one_point_crossover],
    selection_functions=[fitness_proportionate_selection],
    elitism=[0, 1]
)

Each combination (w/ 30 runs) takes around 6 min.

In [15]:
results_table = pd.DataFrame(results).style \
    .format(precision=3) \
    .set_properties(**{"text-align": "center"}) \
    .set_table_styles([{
        "selector": "th",
        "props": [("text-align", "center")]
    }])

In [17]:
results_table